.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
build
docs/node_modules
docs/package-lock.json
composer.lock
coverage
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules
.php-cs-fixer.cache
.DS_Store
